<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product Version='@COLUMNALVERSION@' Id='@COLUMNALGUID@'
             Name='Columnal' UpgradeCode='365af26c-7f60-4f62-a734-607da8d2e637'
             Language='1033' Codepage='1252' Manufacturer='Eponymouse'>

        <Package Id='*' Keywords='Installer' Description="Columnal Installer"
                 Manufacturer='Eponymouse'
                 InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

        <!-- Embeds all the files to install inside the MSI -->
        <Media Id='1' Cabinet='Columnal.cab' EmbedCab='yes' />

        <WixVariable Id="WixUILicenseRtf" Value="licence.rtf" />

        <Property Id="REINSTALLMODE" Value="amus" />
        <MajorUpgrade AllowDowngrades="yes" />

        <Property Id="ALLUSERS" Secure="no" />

        <Property Id="SOFTWARE" Value="Columnal"/>
        <Property Id="SOFTWAREVERSION" Value="@COLUMNALVERSION@"/>
        <Property Id="WixAppFolder" Value="WixPerUserFolder"/>
        <WixVariable Id="WixUISupportPerMachine" Value="1" />
        <WixVariable Id="WixUISupportPerUser" Value="1" />
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        
        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='AppDataFolder'>
                <Directory Id='INSTALLDIR' Name='Columnal'/>
            </Directory>

            <Directory Id="ProgramMenuFolder" Name="Programs">
                <Directory Id="ProgramMenuDir" Name="Columnal">
                    <Component Id="ProgramMenuShortcut" Guid="4957b0df-b044-4a0e-a280-1be911c0ca49">
                        <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
                        <RegistryKey Root="HKCU" Key="Software\Columnal\Columnal"
                                     Action="none">
                            <RegistryValue Name="MenuShortcut" Value="1" Type="integer" KeyPath="yes"/>
                        </RegistryKey>
                        <Shortcut Id="MenuShortcut"
                                  Name="Columnal" WorkingDirectory="INSTALLDIR"
                                  Target="[#Launcher]"/> <!-- Icon="Icon.ico"  -->
                    </Component>
                </Directory>
            </Directory>

            <Directory Id="DesktopFolder" Name="Desktop" />

            <Component Id="DesktopShortcut" Guid="145ca7a4-5f67-4c9b-818d-4e797bce489b">
                <CreateFolder/>
                <Shortcut Id="DesktopShortcut"
                          Directory="DesktopFolder"
                          Name="Columnal"
                          Description="Launches Columnal"
                          Target="[#Launcher]"
                          Icon="Icon.ico"
                          WorkingDirectory="INSTALLDIR"/>
                <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall"/>
                <RegistryValue
                        Root="HKCU"
                        Key="Software\Columnal\Columnal"
                        Name="DesktopShortcut"
                        Type="integer"
                        Value="1"
                        KeyPath="yes"/>
            </Component>
        </Directory>

        <!-- From http://wixtoolset.org/documentation/manual/v3/howtos/ui_and_localization/run_program_after_install.html -->
        <!-- and http://windows-installer-xml-wix-toolset.687559.n2.nabble.com/How-to-set-the-checkbox-as-checked-by-default-for-launching-application-at-last-page-of-install-td3751091.html -->
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1"/>
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Columnal now" />
        <Property Id="WixShellExecTarget" Value="[#Launcher]" />
        <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
        <UI>
            <UIRef Id="WixUI_Minimal" />
            <Publish Dialog="ExitDialog"
                     Control="Finish"
                     Event="DoAction"
                     Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
        </UI>

        <Component Id='CompLauncher' Directory="INSTALLDIR">
            <File Id='Launcher' Name='Columnal.exe' DiskId='1' Source='Columnal.exe' KeyPath='yes' />
        
            <ProgId Id="Columnal" Description="Columnal File" Icon="Launcher" IconIndex="0">
                <Extension Id="clml" ContentType="application/binary">
                    <Verb Id="open" TargetFile="Launcher" Argument="&quot;%1&quot;"/>
                </Extension>
            </ProgId>
        </Component>
        
        <Component Id='Licences' Directory="INSTALLDIR">
            <File Id='Licence' Name='licence.rtf' DiskId='1' Source='licence.rtf' />
            <File Id='Licence' Name='thirdpartylicences.txt' DiskId='1' Source='thirdpartylicences.txt' />
        </Component>
        
        <Feature Title='Columnal' Id='FeatureCore' Level='1' ConfigurableDirectory="INSTALLDIR">
            <ComponentGroupRef Id='JREFiles' />
            <ComponentRef Id='CompLauncher' />
            <ComponentRef Id='ProgramMenuShortcut' />
            <ComponentRef Id='DesktopShortcut' />
        </Feature>

        <Icon Id="Icon.ico" SourceFile="logo.ico" />
        <WixVariable Id="WixUIBannerBmp" Value="installer-banner.bmp"/>
        <WixVariable Id="WixUIDialogBmp" Value="installer-background.bmp"/>
    </Product>
</Wix>
