/* Functions */
@function grey($amount) {
    @return rgb($amount, $amount, $amount)
}
@function greya($amount, $alpha) {
    @return rgba($amount, $amount, $amount, $alpha)
}
@function gray($amount) {
    @return rgb($amount, $amount, $amount)
}

/* General: */
$focus-color: rgb(81, 27, 186) /*rgb(75, 54, 150)*/;
$focus-color-text: white;
$faint-focus-color: rgba($focus-color, 0.25);
$control-background: grey(95%);
$control-background-dark: grey(92%);
  /* From modena: */
$base-color: #ececec;
$pane-background: derive($base-color,26.4%);
$text-color: #333;

/* Initial/logo */
$initial-heading-color: #777;
$logo-border: grey(60%);
$logo-background: white;

/* Lists: */
$list-even: grey(99%);
$list-odd:  grey(97%);
$list-background: derive(white, -12%);
$list-selection-focused: $focus-color;
$list-selection-unfocused: rgb(120, 118, 128);
$list-selection-text: white;

/* Table: */
$table-empty-background: grey(85%);
$table-cell: grey(95%);
$table-cell-hover: rgb(140, 122, 203);
$table-cell-editing: white;
$table-divider: grey(80%);
$table-header: grey(85%);
$table-header-hover: grey(90%);
$table-header-divider: grey(60%);
$table-header-border: grey(60%);
$table-header-text-color: white;
$table-header-background-color: rgb(154, 183, 237);
$table-header-transformation-background-color: hsl(105, 35%, 50%);
$table-header-background-color-selected: $focus-color;
$table-header-background-color-check-failing: hsb(358, 76%, 50%);
$table-border-color: grey(50%);
$table-row-label-background-color: grey(90%);
$table-row-label-border-color: $table-border-color;
$table-row-label-text-color: grey(50%);
$table-pick-overlay-stroke: hsl(26, 82%, 46%);
$table-pick-overlay-fill: hsla(26, 82%, 46%, 0.5);
$table-source-overlay-stroke: hsl(105, 100%, 30%);
$table-source-overlay-fill: hsla(105, 100%, 30%, 0.35);
$column-header-background-color: hsb(218, 11%, 89%);
$column-header-text-color: hsb(218, 41%, 30%);
$expand-arrow-color: grey(60%);
$grid-comment: hsb(62, 20%, 95%);
$grid-comment-hover: hsb(62, 20%, 99%);

$light-dialog-background: grey(95%);
$light-dialog-background-dark: grey(92%);

$error-outline: hsl(354, 80%, 34%);
$error-text: hsl(354, 80%, 34%);

$editor-error-background: hsb(350, 20%, 100%);
$editor-error-stroke: hsb(350, 95%, 60%);

$editor-popup-error: hsb(350, 5%, 98%);
$editor-popup-error-border: $editor-error-stroke; 
$editor-popup-information: hsb(180, 15%, 92%);
$editor-popup-information-border: hsb(180, 82%, 42%);
$editor-popup-prompt: hsb(101, 5%, 90%);
$editor-popup-prompt-border: hsb(101, 66%, 46%);

$recipe-background: hsb(48, 25%, 95%);
$recipe-text: hsb(57, 100%, 20%);

$doc-header-background: hsl(260, 50%, 85%);