$list-even: derive(white, -5%);
$list-odd:  derive(white, -10%);
$list-background: derive(white, -20%);
$list-selection-focused: rgb(75, 54, 150);
$list-selection-unfocused: rgb(120, 118, 128);
$list-selection-text: white;