$function-color: paleturquoise;

.expression-editor {
    -fx-font-family: "Noto Sans";
    -fx-font-size: 12pt;

    -fx-alignment: bottom-left;
    -fx-row-valignment: bottom;
    -fx-vgap: 1px;
}
.mapsto {
    -fx-font-size: 140%;
    -fx-text-fill: #808080;
}
.labelled-top.function-child {
    -fx-background-insets: 0 0 0 0, 1 0 0 0, 2 0 0 0;
    -fx-background-color: $function-color, white, transparent;
}

.entry-type, .labelled-top, .function-top {
    -fx-font-size: 8pt;
    -fx-cursor: hand;
    -fx-max-width: 9999.0;
}
.entry, .labelled {
    -fx-background-insets: 0;
    -fx-alignment: top-center;
    /*-fx-padding: 0 2 2 2;*/
    -fx-fill-width: true;
}
.entry {
    -fx-background-color: white;
}
.entry:ps-column {
    -fx-background-color: lightsteelblue;
    -fx-background-radius: 0 3pt 0 3pt;
}
.entry:ps-literal {
    -fx-background-color: white;
    -fx-background-radius: 0;
}
.function {
    -fx-background-color: $function-color;
    -fx-background-radius: 0;
}
.tag {
    -fx-background-color: yellowgreen;
    -fx-background-radius: 0;
}
.entry-field, .operator-field, .labelled-name {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-color: transparent;
    -fx-padding: 1 3 1 1;
}
.entry-field:ps-empty, .entry-field:hover, .entry-field:focused,
  .operator-field:hover, .operator-field:focused, .labelled-name:hover, .labelled-name:focused {
    -fx-border-color: grey;
}