@import 'colors';

$selected-expression-border-color: $focus-color;
$function-color: paleturquoise;
$match-color: lightpink;
$column-color: lightsteelblue;
$default-color: rgb(240, 240, 240);

.expression-editor {
    -fx-font-family: "Noto Sans";
    -fx-font-size: 12pt;

    -fx-alignment: bottom-left;
    -fx-row-valignment: bottom;
    -fx-vgap: 1px;
    -fx-background-color: $default-color;
}
.mapsto {
    -fx-font-size: 140%;
    -fx-text-fill: #808080;
}

$parent-colors: (function, $function-color), (match, $match-color);

@each $parent-type, $parent-color in $parent-colors {
    .labelled-top.#{$parent-type}-child {
        -fx-border-width: 1 0 0 0;
        -fx-border-insets: 0 0 0 0, 1 0 0 0;
        -fx-border-style: solid inside;
        -fx-border-color: $parent-color, $default-color;
    }
    @each $subparent-type, $subparent-color in $parent-colors {
        .labelled-top.#{$parent-type}-#{$subparent-type}-child {
            -fx-border-width: 1 0 0 0;
            -fx-border-insets: 0 0 0 0, 1 0 0 0, 2 0 0 0;
            -fx-border-style: solid inside;
            -fx-border-color: $parent-color, $subparent-color, $default-color;
        }
    }
}

.column-inner {
    -fx-fill: $column-color;
}

.entry-type, .labelled-top, .function-top {
    -fx-font-size: 8pt;
    -fx-cursor: hand;
    -fx-max-width: 9999.0;
    -fx-background-color: rgba(128, 128, 128, 0.1);
}
.entry, .labelled {
    -fx-background-insets: 0;
    -fx-alignment: top-center;
    /*-fx-padding: 0 2 2 2;*/
    -fx-fill-width: true;
    -fx-background: transparent;
}
.entry {
    -fx-background-color: transparent;
}
.entry:ps-column {
    -fx-background-color: $column-color;
}

/* Must come later to have precendence: */
.entry:exp-selected {
     -fx-background-color: $selected-expression-border-color;
     & .label, & .text-field {
         -fx-text-fill: $focus-color-text;
     }
}
*:exp-hover-drop-left {
    -fx-border-width: 0 0 0 2;
    -fx-border-style: solid inside;
    -fx-border-color: $focus-color;
}

.function-bracket {
    -fx-background-color: $function-color;
    -fx-fill: $function-color;
}
.function, .function-bracket {
    -fx-background-color: $function-color;
    -fx-background-radius: 0;

    &:exp-selected {
         -fx-background-color: $selected-expression-border-color;
         -fx-fill: $selected-expression-border-color;
         -fx-text-fill: $focus-color-text;
    }
}
.tag {
    -fx-background-color: yellowgreen;
    -fx-background-radius: 0;
}
.entry-field, .operator-field, .labelled-name {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-color: transparent;
    -fx-padding: 1 3 1 1;
}
.entry-field:ps-empty, .entry-field:hover, .entry-field:focused,
  .operator-field:op-empty, .operator-field:hover, .operator-field:focused, .labelled-name:hover, .labelled-name:focused {
    -fx-border-color: grey;
}