@import 'colors';

.transformation-list {
    -fx-pref-width: 12em;
}
.transformation-info {
    -fx-padding: 0 1em 0 1em;
    -fx-fill-width: true;
}
.transformation-title-wrapper {
    -fx-font-size: 200%;
    /*-fx-padding: 0 0 0 2em;*/
    .label {
        -fx-text-fill: grey;
    }
}
.transformation-description {
    -fx-fill: grey;
}

.single-source-control {
    -fx-alignment: baseline-left;
    -fx-spacing: 0.5em;

    .text-field {
        -fx-min-width: 8em;
    }
}

/* Hide columns */
.hide-columns-lists {
    -fx-padding: 1em 0 0 0;
    -fx-spacing: 1em;
    -fx-fill-height: true;

    .add-wrapper {
        -fx-padding: 4em 0 0 0;
    }
}



.deletable-list-cell {
    -fx-padding: 0;
    -fx-background-color: transparent;
}
.deletable-list-cell-content {
    -fx-padding: 3px;

    .deletable-list-cell:filled:even > & {
        -fx-background-color: $list-even;
    }
    .deletable-list-cell:filled:odd > & {
        -fx-background-color: $list-odd;
    }
    .deletable-list-cell:filled:selected > & {
        -fx-background-color: $list-selection-unfocused;
    }
    .list-view:focused .deletable-list-cell:filled:selected > & {
        -fx-background-color: $list-selection-focused;
    }

    .deletable-list-cell:filled:selected > & > .label {
        -fx-text-fill: $list-selection-text;
    }
}


.small-delete-circle {
    .small-delete > & {
        -fx-fill: transparent;
    }
    .small-delete:hover > &, .deletable-list-cell:my_hover_sel .small-delete > & {
        -fx-fill: red;
    }
}

.small-delete-cross {
    -fx-stroke-width: 2;

    .small-delete > & {
        -fx-stroke: grey;

    }
    .small-delete:hover > &, .deletable-list-cell:my_hover_sel .small-delete > &,
      .deletable-list-cell:selected & {
        -fx-stroke: white;
    }
}