@import 'colors';

.transformation-list {
    -fx-pref-width: 12em;
}
.transformation-info {
    -fx-padding: 1em;
}
.transformation-title {
    -fx-font-size: 200%;
}
.transformation-description {

}

.single-source-control {
    -fx-alignment: baseline-left;
    -fx-spacing: 0.5em;
}


.deletable-list-cell {
    -fx-padding: 0;
    -fx-background-color: transparent;
}
.deletable-list-cell-content {
    -fx-padding: 3px;

    .deletable-list-cell:filled:even > & {
        -fx-background-color: $list-even;
    }
    .deletable-list-cell:filled:odd > & {
        -fx-background-color: $list-odd;
    }
    .deletable-list-cell:filled:selected > & {
        -fx-background-color: $list-selection-unfocused;
    }
    .list-view:focused .deletable-list-cell:filled:selected > & {
        -fx-background-color: $list-selection-focused;
    }

    .deletable-list-cell:filled:selected > & > .label {
        -fx-text-fill: $list-selection-text;
    }
}


.small-delete-circle {
    .small-delete > & {
        -fx-fill: transparent;
    }
    .small-delete:hover > &, .deletable-list-cell:my_hover_sel .small-delete > & {
        -fx-fill: red;
    }
}

.small-delete-cross {
    -fx-stroke-width: 2;

    .small-delete > & {
        -fx-stroke: grey;

    }
    .small-delete:hover > &, .deletable-list-cell:my_hover_sel .small-delete > &,
      .deletable-list-cell:selected & {
        -fx-stroke: white;
    }
}