<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="LogFile" fileName="${sys:storageDirectory}/log.txt">
            <PatternLayout pattern="%d %msg [%t]%ex%n" />
        </File>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="LogFile"/>
        </Root>
    </Loggers>
</Configuration>
