/* Functions */
@function grey($amount) {
    @return hsb(0, 0%, $amount)
}
@function gray($amount) {
    @return hsb(0, 0%, $amount)
}

/* General: */
$focus-color: rgb(75, 54, 150);
$focus-color-row-col: rgb(241, 238, 255);
$focus-color-text: white;
$faint-focus-color: rgba($focus-color, 0.25);

/* Lists: */
$list-even: derive(white, -4%);
$list-odd:  derive(white, -8%);
$list-background: derive(white, -12%);
$list-selection-focused: $focus-color;
$list-selection-unfocused: rgb(120, 118, 128);
$list-selection-text: white;

