/* Functions */
@function grey($amount) {
    @return hsb(0, 0%, $amount)
}
@function gray($amount) {
    @return hsb(0, 0%, $amount)
}

/* General: */
$focus-color: rgb(75, 54, 150);
$focus-color-secondary: rgb(130, 109, 206);
$focus-color-row-col: rgb(237, 236, 243);
$focus-color-text: white;
$faint-focus-color: rgba($focus-color, 0.25);

/* Lists: */
$list-even: derive(white, -4%);
$list-odd:  derive(white, -8%);
$list-background: derive(white, -12%);
$list-selection-focused: $focus-color;
$list-selection-unfocused: rgb(120, 118, 128);
$list-selection-text: white;

/* Table: */
$table-empty-background: grey(85%);
$table-cell: grey(95%);
$table-cell-hover: rgb(140, 122, 203);
$table-cell-editing: white;
$table-divider: grey(85%);
$table-header: grey(85%);
$table-header-hover: grey(90%);
$table-header-divider: grey(60%);
$table-header-border: grey(60%);
$table-header-text-color: white;
$table-header-background-color: cornflowerblue;
$table-header-background-color-selected: $focus-color;
$column-header-background-color: grey(85%);
$column-header-text-color: black;