@import 'colors';
@import 'fonts';

.autocomplete.list-view > .virtual-flow > .clipped-container > .sheet > .completion-cell { 
    -fx-content-display: right;
    -fx-graphic-text-gap: 10;
    -fx-text-fill: black;
    .completion-cell-description {
        -fx-text-fill: grey;
        -fx-font-size: 75%;
        .list-cell:selected & {
            -fx-text-fill: white;
        }
    }
    &:selected {
        -fx-text-fill: white;
        -fx-background-color: $list-selection-focused;
        .completion-cell-description {
            -fx-text-fill: grey(75%);
        }
    }
}
/* From https://stackoverflow.com/questions/12670137/how-to-hide-the-horizontal-scrollbar-of-a-listview-in-javafx */
.autocomplete.list-view .scroll-bar:horizontal {
    .increment-arrow, .decrement-arrow, .increment-button, .decrement-button {
        -fx-padding:0;
    }
}


.autocomplete-instruction.instruction > .instruction-label {
    -fx-background-insets: 0, 1;
    -fx-background-color: grey(70%), white;
    -fx-font-size: 75%;
    -fx-text-fill: grey(70%);
}

.lex-complete-root {
    .lex-completion-list {
        -fx-background-color: grey(50%), white;
        -fx-background-insets: 0, 1;    
        -fx-padding: 1;
    }
    .lex-completion {
        -fx-background-color: white;
        -fx-padding: 0 2 0 2;
        .styled-text {
            -fx-font-smoothing-type: gray;
            -fx-fill: black;
        }
        &.lex-completion-header {
            -fx-background-color: white, grey(90%);
            -fx-background-radius: 0, 7;
            -fx-background-insets: 0, 1 2 1 2;
            & .lex-completion-text-flow {
                -fx-padding: 0 5 0 5;
            }
            & .styled-text {
                -fx-fill: grey(40%);
            }
        }
        .side-text {
            -fx-label-padding: 2;
            -fx-text-fill: grey(50%);
            -fx-font-size: 75%;
        }
        &:selected {
            -fx-background-color: $focus-color;
            .styled-text {
                -fx-fill: white;
            }
            .side-text {
                -fx-text-fill: grey(90%);
            }
        }
    }
    .lex-webview-wrapper {
        -fx-padding: 1 1 1 0;
        -fx-background-insets: 0 0 0 -1, 1 1 1 0;
        -fx-background-color: grey(50%), white;
        .web-view {
            -fx-font-smoothing-type: gray;
            -fx-content-menu-enabled: false;
        }
    }
}
