@import 'colors';
@import 'fonts';

.autocomplete.list-view > .virtual-flow > .clipped-container > .sheet > .completion-cell { 
    -fx-content-display: right;
    -fx-graphic-text-gap: 10;
    -fx-text-fill: black;
    .completion-cell-description {
        -fx-text-fill: grey;
        -fx-font-size: 75%;
        .list-cell:selected & {
            -fx-text-fill: white;
        }
    }
    &:selected {
        -fx-text-fill: white;
        -fx-background-color: $list-selection-focused;
        .completion-cell-description {
            -fx-text-fill: grey(75%);
        }
    }
}
/* From https://stackoverflow.com/questions/12670137/how-to-hide-the-horizontal-scrollbar-of-a-listview-in-javafx */
.autocomplete.list-view .scroll-bar:horizontal {
    .increment-arrow, .decrement-arrow, .increment-button, .decrement-button {
        -fx-padding:0;
    }
}


.autocomplete-instruction.instruction > .instruction-label {
    -fx-background-insets: 0, 1;
    -fx-background-color: grey(70%), white;
    -fx-font-size: 75%;
    -fx-text-fill: grey(70%);
}