@import 'colors';

.label, .text-field, .hbox-row {
    -fx-alignment: baseline-left;
}
/* This needs to be top left to make it work with baseline-left: */
.radio-button {
    -fx-alignment: top-left;
}
.hbox-row {
    -fx-spacing: 1em;
}

.light-dialog-pane {
    -fx-padding: 20;
    -fx-background-radius: 5;
    -fx-background-insets: 20, 21;
    -fx-background-color: grey(40%), $table-cell;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,.2), 5.0, 0.3, 5.0, 5.0) !important;
}


.explanation-button-explanation {
    -fx-font-size: 10px;
    -fx-text-fill: grey(60%);
}
/* Should perhaps move these to specific file for the appropriate dialogs: */
.new-button-list {
    -fx-spacing: 10px;
}
.pick-transformation-tile-pane {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}
.pick-table-dialog .button-bar .container {
    -fx-padding: 0;
}
.pick-html-table-dialog-pane {
    .pick-html-table-instruction {
        -fx-font-size: 150%;
        -fx-font-weight: bold;
        -fx-fill: pink;
        -fx-stroke: darkred;
        -fx-stroke-width: 0.5;
        -fx-text-alignment: center;
    }
}
.table-list-dialog .table-list .fancy-list-cell:selected {
    -fx-background-color: $focus-color;
    & .text-field {
         -fx-text-fill: $focus-color-text;
    } 
}
.small-delete {
    -fx-cursor: hand;
}
.small-delete-circle {
    .small-delete > & {
        -fx-fill: transparent;
    }
    .small-delete:hover > &, .fancy-list-cell:my_hover_sel .small-delete > & {
        -fx-fill: darkred;
    }
}

.small-delete-cross {
    -fx-stroke-width: 2;

    .small-delete > & {
        -fx-stroke: grey;

    }
    .small-delete:hover > &, .deletable-list-cell:my_hover_sel .small-delete > &,
      .deletable-list-cell:selected & {
        -fx-stroke: white;
    }
}