@import 'colors';

.label, .text-field, .hbox-row {
    -fx-alignment: baseline-left;
}
/* This needs to be top left to make it work with baseline-left: */
.radio-button {
    -fx-alignment: top-left;
}
.hbox-row {
    -fx-spacing: 1em;
}

.light-dialog-pane {
    -fx-padding: 20;
    -fx-background-radius: 5;
    -fx-background-insets: 20, 21;
    -fx-background-color: grey(40%), $table-cell;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,.2), 5.0, 0.3, 5.0, 5.0) !important;
}


.explanation-button-explanation {
    -fx-font-size: 10px;
    -fx-text-fill: grey(60%);
}
/* Should perhaps move these to specific file for the appropriate dialogs: */
.new-button-list {
    -fx-spacing: 10px;
}
.pick-transformation-tile-pane {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}
.pick-table-dialog .button-bar .container {
    -fx-padding: 0;
}
.pick-html-table-dialog-pane {
    .pick-html-table-instruction {
        -fx-font-size: 150%;
        -fx-font-weight: bold;
        -fx-fill: pink;
        -fx-stroke: darkred;
        -fx-stroke-width: 0.5;
        -fx-text-alignment: center;
    }
}
.table-list-dialog .table-list {
    -fx-background-color: grey, $control-background;
    -fx-background-insets: 0, 1;
    & .fancy-list-cell, & .fancy-list-end {
        -fx-border-color: transparent;
        -fx-border-style: solid inside;
        -fx-border-width: 2 0 0 0;
    }
}
.table-list-dialog .table-list .fancy-list-cell:even {
    -fx-background-color: $control-background;
}
.table-list-dialog .table-list .fancy-list-cell:odd {
    -fx-background-color: $control-background-odd;
    & .text-field {
        -fx-background-color: $control-background-odd;
    }
}
.table-list-dialog .table-list {
    & .fancy-list-cell:drag-target, & .fancy-list-end:drag-target {
        -fx-border-color: black;
        -fx-border-style: dashed inside;
        -fx-border-width: 2 0 0 0;
    }
}

.table-list-dialog .table-list .fancy-list-cell:selected {
    -fx-background-color: $focus-color;
    &:even .pick-table-pane .text-field, &:odd .pick-table-pane .text-field {
        -fx-background-color: $focus-color, $focus-color;
        &:hover {
            -fx-background-color: white, $focus-color;
        }
    }
    & .text-field, & .label {
         -fx-text-fill: $focus-color-text;
    }
}
.table-list-dialog .fancy-list-cell {
    &:even .pick-table-pane > .text-field {
        -fx-background-color: $control-background, $control-background;
        -fx-background-insets: 0, 1;
        &:hover {
            -fx-background-color: grey, $control-background;
        }
        &:focused {
            -fx-background-color: grey, white;
        }
    }
    &:odd .pick-table-pane > .text-field {
        -fx-background-color: $control-background-odd, $control-background-odd;
        -fx-background-insets: 0, 1;
        &:hover {
            -fx-background-color: grey, $control-background-odd;
        }
        &:focused {
            -fx-background-color: grey, white;
        }
    }
    & .pick-table-pane > .label {
        -fx-font-size: 80%;
    }
}
.small-delete {
    -fx-cursor: hand;
}
.small-delete-circle {
    .small-delete > & {
        -fx-fill: transparent;
    }
    .small-delete:hover > &, .fancy-list-cell:my_hover_sel .small-delete > & {
        -fx-fill: darkred;
    }
}

.small-delete-cross {
    -fx-stroke-width: 2;

    .small-delete > & {
        -fx-stroke: grey;

    }
    .small-delete:hover > &, .fancy-list-cell:my_hover_sel .small-delete > &,
      .fancy-list-cell:selected & {
        -fx-stroke: white;
    }
}