@import 'fonts';

html {
    font-family: $font-main;
    font-size: 13pt;
}

.index-entry {
    display: block;
}

.function-group-item {
    display: none;
}

.function-item, .operator-item, .type-item {
    padding: 25pt;
    border-width: 0 0 1px 0;
    border-color: lightgray;
    border-style: solid;
}

.function-name-header {
    display: none;
}
.function-name-type {
    font-weight: bold;
}
.function-type-args {
    display:block;
}
.type-name-header {
    font-size: 18pt;
    font-weight: bold;
}
.function-name-type, .function-type, .operator-type {   
    font-size: 18pt;
    
    .wild-unit {
        display: inline;
        position: relative;
        /* From https://www.webdesignerdepot.com/2012/11/how-to-create-a-simple-css3-tooltip/ */
        &:hover:after{
             font-size: 10pt;
             background: #333;
             background: rgba(0,0,0,.8);
             border-radius: 5px;
             top: 120%;
             color: #fff;
             content: "Works for any unit";
             left: 20%;
             padding: 5px;
             position: absolute;
             z-index: 98;
             width: 120px;
        }
    }
    .type-var {
        font-style: italic;
        display: inline-block;
        margin-left: -2px;
        margin-right: 2px;
    }
    
    .function-arrow {
        padding-left: 8pt;
        padding-right: 12pt;
    }
}
.function-arrow::before {
    content: "\27F6";
} 
.function-type, .operator-type {
    font-family: 'Droid Sans Mono';
    color: #333;
}
.expression-bracket {
    font-family: 'Droid Sans Mono';
}

.examples {
    .examples-header {
        font-size: 14pt;
        font-weight: bold;
    }
    .example .example-call {
        padding-left: 20pt;
    }
    & .function-arrow {
        padding-left: 4pt;
        padding-right: 8pt;
    }
}

.seeAlso {
    .seeAlsoHeader {
        display: block;
        font-weight: bold;
        font-size: 14pt;
    }
}
.seeAlso a, .index a {
    margin-left: 30pt;
    &, &:visited, &:hover {
        color: black;
    }
}
.function-type a {
    &, &:visited, &:hover {
        color: black;
        text-decoration: none;
    }
    &:hover {
        background-color: #eee;
        text-decoration: underline;
    }
}
