@import 'colors';
@import 'fonts';

body {
    font-family: $font-main;
    font-size: 13pt;
    
    &.indiv {
        font-size: 11pt;
    }
}

.index-entry {
    display: block;
}

.function-group-item {
    display: none;
}
.function-item, .operator-item, .type-item {
    padding: 25pt;
}
body.indiv {
    .function-item, .operator-item, .type-item {
        padding: 5pt;
    }
}

.function-item, .operator-item, .type-item {
    border-width: 0 0 1px 0;
    border-color: lightgray;
    border-style: solid;
}

.function-name-header {
    display: none;
}
.function-name-type, .syntax-keyword, .type-name-header, .operator-name-header {
    font-weight: bold;
}
.function-type-args, .syntax-type-args, .operator-type, .operator-name-header {
    display:block;
    font-size: 80%;
}
.type-name-header, .function-name-type, .function-type, .operator-type, .syntax-name-header, .operator-name-header {
    font-size: 18pt;
}
body.indiv {
    .type-name-header, .function-name-type, .function-type, .operator-type, .syntax-name-header {
     font-size: 13pt;
    }
}

.function-name-type, .function-type, .operator-type {
    .type-var, .unit-var {
        display: inline;
        position: relative;
        /* From https://www.webdesignerdepot.com/2012/11/how-to-create-a-simple-css3-tooltip/ */
        &:hover:after{
             font-size: 10pt;
             background: #333;
             background: rgba(0,0,0,.8);
             border-radius: 5px;
             top: 120%;
             color: #fff;
             content: "Can be any type/unit";
             left: 20%;
             padding: 5px;
             position: absolute;
             z-index: 98;
             width: 120px;
        }
    }
    .type-var:hover:after {
        content: "Can be any type";
    }
    .unit-var:hover:after {
        content: "Can be any unit";
    }
    
    .function-arrow {
        padding-left: 8pt;
        padding-right: 12pt;
    }
}
.type-var, .unit-var {
    color: grey(60%);
}
.function-arrow::before {
    /*content: "\27F6";*/
    content: "->";
}
.example-arrow::before {
    content: "\2192";
    font-family: 'Noto Sans Symbols';
} 
.function-type, .operator-type {
    font-family: 'Noto Mono';
    color: #333;
}
.expression-bracket {
    font-family: 'Noto Mono';
}

body.indiv .examples .examples-header {
    font-size: 11pt;
}

.examples {
    .examples-header {
        font-size: 14pt;
        font-weight: bold;
    }
    .example .example-call {
        padding-left: 20pt;
    }
    & .example-arrow {
        padding-left: 4pt;
        padding-right: 8pt;
    }
}

.seeAlso {
    .seeAlsoHeader {
        display: block;
        font-weight: bold;
        font-size: 14pt;
    }

}
body.indiv .seeAlso .seeAlsoHeader {
    font-size: 11pt;
}
.seeAlso a, .index a {
    margin-left: 20pt;
    display: block;
    &, &:visited, &:hover {
        color: black;
    }
}
.function-type a {
    &, &:visited, &:hover {
        color: black;
        text-decoration: none;
    }
    &:hover {
        background-color: #eee;
        text-decoration: underline;
    }
}
