@import 'colors';

.root {
    -fx-font-family: "Noto Sans";
    -fx-font-size: 13pt;

    -fx-focus-color: $focus-color;
    -fx-faint-focus-color: $faint-focus-color;
}

.list-view {
    -fx-background-color: -fx-box-border, $list-background;
}
.list-view:focused {
    -fx-background-color: -fx-faint-focus-color, -fx-focus-color, $list-background;
}
.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    &:empty {
        -fx-background-color: transparent;
    }
    &:filled:selected {
        -fx-background-color: $list-selection-unfocused;
        -fx-text-fill: white;
    }
}
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell {
    &:filled:selected {
        -fx-background-color: $list-selection-focused;
        -fx-text-fill: white;
    }
}

.errorable-text-field:has-warnings {
    -fx-border-color: orange;
    -fx-border-width: 2px;
}
.errorable-text-field:has-error {
    -fx-border-color: red;
    -fx-border-width: 2px;
}

.popover {
    -fx-cursor: move;

    .title > .icon > .graphics {
        -fx-cursor: hand;
    }

    /* Important to not have shadow above the arrow as it messes with the mouse over detection
       on the original node: */
    & > .border {
       -fx-effect: dropshadow(gaussian, rgba(0,0,0,.2), 5.0, 0.3, 5.0, 5.0) !important;
    }
}

.errorable-text-field-popup {
    .errorable-text-field:has-error & .border {
        -fx-stroke: red;
        -fx-stroke-width: 2;
    }
    .errorable-text-field:has-warnings & .border {
        -fx-stroke: orange;
        -fx-stroke-width: 2;
    }
    .popup-error-pane {
        -fx-padding: 0em 1em 0.75em 1em;
    }
}

.help-box {
    .circle {
        -fx-cursor: hand;
        -fx-fill: hsb(0, 0%, 90%);
    	-fx-effect: innershadow(gaussian, rgba(0,0,0,.1), 3, 0.5, 1.0, 1.0);
    	&:hover {
    	    -fx-fill: hsb(0, 0%, 95%);
    	}
    }

    .question {
        -fx-fill: hsb(0, 0%, 40%);
    }

    .help-popup {
        -fx-min-height: 0;

        & > .border {
            -fx-stroke-width: 1;
        }
        .help-content {
            -fx-padding: 0.75em;
            -fx-max-width: 400px;
            .short {
                -fx-font-weight: bold;
            }
            .more {
                -fx-font-size: 70%;
                -fx-fill: hsb(0, 0%, 60%);
            }
        }
    }
}