@import 'colors';
@import 'fonts';

.root {
    -fx-font-family: $font-main;
    -fx-font-size: 16px;

    -fx-focus-color: $focus-color;
    -fx-faint-focus-color: $faint-focus-color;
}

/* Need this for case when context menu shows on something with
   a custom text colour (e.g. selected column header) */
.context-menu .label {
    -fx-text-fill: black !important;
}

.list-view {
    -fx-background-color: -fx-box-border, $list-background;
}
.list-view:focused {
    -fx-background-color: -fx-faint-focus-color, -fx-focus-color, $list-background;
}
.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    &:empty {
        -fx-background-color: transparent;
    }
    &:filled:selected {
        -fx-background-color: $list-selection-unfocused;
        -fx-text-fill: white;
    }
}
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell {
    &:filled:selected {
        -fx-background-color: $list-selection-focused;
        -fx-text-fill: white;
    }
}

.labelled-wrapper {
    -fx-alignment: center-left;
    & > .label {
        -fx-padding: 0 2em 0 0;
    }
}
.labelled-wrapper-vertical {
    & > .label {
        -fx-padding: 0 0 0.5em 0;
    }
}
.labelled-grid {
    -fx-vgap: 0.6em;
    -fx-hgap: 0.5em;
}

.errorable-text-field:has-warnings {
    -fx-border-color: orange;
    -fx-border-width: 2px;
}
.errorable-text-field:has-error {
    -fx-border-color: red;
    -fx-border-width: 2px;
}

.popover {
    -fx-cursor: move;

    .title > .icon > .graphics {
        -fx-cursor: hand;
    }

    /* Important to not have shadow above the arrow as it messes with the mouse over detection
       on the original node: */
    & > .border {
       -fx-effect: dropshadow(gaussian, rgba(0,0,0,.2), 5.0, 0.3, 5.0, 5.0) !important;
    }
}

.errorable-text-field-popup {
    .errorable-text-field:has-error & .border {
        -fx-stroke: red;
        -fx-stroke-width: 2;
    }
    .errorable-text-field:has-warnings & .border {
        -fx-stroke: orange;
        -fx-stroke-width: 2;
    }
    .popup-error-pane {
        -fx-padding: 0em 1em 0.75em 1em;
    }
}

.help-box {
    .circle {
        -fx-cursor: hand;
        -fx-fill: hsb(0, 0%, 90%);
    	-fx-effect: innershadow(gaussian, rgba(0,0,0,.1), 3, 0.5, 1.0, 1.0);
    	&:hover {
    	    -fx-fill: hsb(0, 0%, 95%);
    	}
    }

    .question {
        -fx-fill: hsb(0, 0%, 40%);
    }

    .help-popup {
        -fx-min-height: 0;

        & > .border {
            -fx-stroke-width: 1;
        }
        .help-content {
            -fx-padding: 0.75em;
            -fx-max-width: 400px;
            .short {
                -fx-font-weight: bold;
            }
            .more {
                -fx-font-size: 70%;
                -fx-fill: hsb(0, 0%, 60%);
            }
        }
    }
}

.stf-number-int, .stf-number-dot, .stf-number-frac {
    /*-fx-font-family: "Droid Sans Mono";*/
}
.stf-cell-number {
    /* -fx-spacing: 2; */
    -fx-alignment: baseline-right;
    -fx-font-family: "Noto Mono";
    -fx-background-color: transparent;

    .paragraph-text {
        -fx-text-alignment: right;
    }
}
.stf-number-frac {
    -fx-font-size: 85%;
}
.stf-number-dot {
    -fx-font-family: $font-main;
    -fx-font-size: 85%;
}
.number-display-dot-invisible {
    visibility: hidden;
}

.string-display {
    -fx-background-color: transparent;
}
.string-display-quote {
    -fx-text-fill: gray(70%);
    -fx-font-family: "Source Code Pro";
    -fx-font-weight: 600;
    -fx-font-size: 80%;
}

.hide-columns-lists {
    .hidden-columns-list-view {
         .cell .label .text {
             -fx-strikethrough: true;
         }
    }
}
.fix-list-heading, .quick-fix-row > .label {
    -fx-text-fill: black;
}

.styled-text {
     &.styled-text-clickable {
         -fx-cursor: hand;
     }
}

.tooltip {
    -fx-background-insets: 0, 1;
    -fx-background-color: hsba(32, 10%, 60%), hsb(32, 5%, 98%);
    -fx-background-radius: 0;
    -fx-padding: 1 4 1 4;
    -fx-text-fill: hsb(32, 10%, 50%);
    /* Note: if you make shadow too big, the tooltip can steal mouse focus from item and disappear too easily! */
    -fx-effect: dropshadow( three-pass-box , hsba(32,10%,40%,0.7) , 8, 0.6 , 2 , 2 );
}
.instruction > .instruction-label {
    -fx-background-insets: 0, 1;
    -fx-background-color: black, yellow;
    -fx-text-fill: black;
    -fx-label-padding: 3;
}