@import 'colors';

.root {
    -fx-font-family: "Noto Sans";
    -fx-font-size: 13pt;

    -fx-focus-color: $focus-color;
    -fx-faint-focus-color: $faint-focus-color;
}

.list-view {
    -fx-background-color: -fx-box-border, $list-background;
}
.list-view:focused {
    -fx-background-color: -fx-faint-focus-color, -fx-focus-color, $list-background;
}
.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    &:empty {
        -fx-background-color: transparent;
    }
    &:filled:selected {
        -fx-background-color: $list-selection-unfocused;
        -fx-text-fill: white;
    }
}
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell {
    &:filled:selected {
        -fx-background-color: $list-selection-focused;
        -fx-text-fill: white;
    }
}

.errorable-text-field:has-warnings {
    -fx-border-color: orange;
    -fx-border-width: 2px;
}
.errorable-text-field:has-error {
    -fx-border-color: red;
    -fx-border-width: 2px;
}

.errorable-text-field-popup {
    .errorable-text-field:has-error & .border {
        -fx-stroke: red;
        -fx-stroke-width: 2;
    }
    .errorable-text-field:has-warnings & .border {
        -fx-stroke: orange;
        -fx-stroke-width: 2;
    }
    -fx-cursor: move;
    .title > .icon > .graphics {
        -fx-cursor: hand;
    }

    .popup-error-pane {
        -fx-padding: 0em 1em 0.75em 1em;
    }
}