@import 'colors';

/* The window-like wrapper around a table view */
.table-wrapper {
    -fx-border-color: gray;
    -fx-border-radius: 5;
    -fx-background-color: lightgray;
    -fx-background-radius: 5;
}
.table-body {
    -fx-padding: 6 6 6 6;
    -fx-background-color: transparent;
}
.table-header {
    -fx-background-radius: 5 5 0 0;
    -fx-background-color: steelblue;
    -fx-padding: 6 6 0 6;
    & .button {
        -fx-cursor: default;
    }
}
.table-title {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: transparent;

    -fx-min-width: 6em;
    -fx-text-overrun: ellipsis;
}

.transformation-arrow {
    -fx-fill: null;
    -fx-stroke: black;
    -fx-stroke-width: 3;
}

.view-pick-pane {
    -fx-background-color: rgba(40, 40, 40, 0.3);
}

.line-snap-guide {
    -fx-stroke-width: 5;
    -fx-stroke-dash-array: 12 16;
    -fx-stroke-line-cap: round;
}
.main-empty-hint {
    -fx-text-fill: grey(40%);
    -fx-font-size: 20pt;
}