@import 'colors';

/* Headers */

.virt-grid-col-header, .virt-grid-row-number, .stable-view-top-left {
    -fx-background-color: $table-header;
    -fx-border-style: solid inside;
    -fx-border-width: 0 1 1 0;
}

.virt-grid-col-header {
    -fx-border-color: transparent $table-header-divider $table-header-border transparent;
    -fx-text-alignment: center;
    -fx-alignment: top-center;
}
.virt-grid-row-number {
    -fx-border-color: transparent $table-header-border $table-header-divider transparent;
    -fx-alignment: baseline-right;
    -fx-font-family: "Droid Sans Mono";
    -fx-font-size: 10pt;
}
.stable-view-top-left {
    -fx-border-color: transparent $table-header-border $table-header-border transparent;
}


.stable-view-scroll-bar > .decrement-button:hover,
   .stable-view-scroll-bar > .increment-button:hover,
    .stable-view-button:hover {
   -fx-background-color: -fx-base, grey(60%), white;
}

.stable-view-scroll-bar,
   .stable-button-top-wrapper {
    -fx-background-color: -fx-base;
}
.stable-view-scroll-bar {
    -fx-cursor: default;
}
.stable-view-scroll-bar > .decrement-button > .decrement-arrow {
    -fx-shape: "M38,16 L32,10 L26,16 Z";
    -fx-scale-shape: false;
    -fx-effect: null;
}
.stable-view-scroll-bar > .increment-button > .increment-arrow {
    -fx-shape: "M38,-16 L32,-10 L26,-16 Z";
    -fx-scale-shape: false;
    -fx-effect: null;
}
.stable-view-scroll-bar:horizontal > .decrement-button > .decrement-arrow,
.stable-view-scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-rotate: 270;
}
.stable-view-button, .stable-view-scroll-bar {
    -fx-border-color: hsb(0, 0%, 70%);
    -fx-border-style: solid outside;
}
.stable-view-scroll-bar:horizontal {
    -fx-border-width: 1 0 1 0;
}
.stable-view-scroll-bar:vertical {
    -fx-border-width: 0 1 0 1;
}
.stable-view-button-left {
    -fx-border-width: 1 0 1 1;
}
.stable-view-button-top {
    -fx-border-width: 1 1 0 1;
}
.stable-view-button-bottom {
    -fx-border-width: 0 1 1 1;
}

.stable-view-button {
    -fx-cursor: default;
    -fx-focus-traversable: false;
    -fx-background-insets: 0, 2, 3;
    -fx-background-color: -fx-base, -fx-base, -fx-base;
    -fx-background-radius: 0;
    -fx-padding: 0;
    & > .stable-view-button-arrow {
        -fx-shape: "M38,16 L32,10 L38,10 L38,8 L26,8 L26,10 L32,10 L26,16 Z";
        -fx-scale-shape: false;
    }
}
.stable-view-button-left > .stable-view-button-arrow {
    -fx-rotate: 270;
}
.stable-view-button-bottom > .stable-view-button-arrow {
    -fx-rotate: 180;
}
.stable-view {
    -fx-background-color: $table-empty-background;

    & .stable-view-scroll-bar .thumb {
        -fx-background-radius: 0;
    }

    & .stable-view-scroll-bar > .decrement-button > .decrement-arrow,
    & .stable-view-scroll-bar > .increment-button > .increment-arrow,
    & .stable-view-scroll-bar .thumb,
    & .stable-view-button > .stable-view-button-arrow  {
        -fx-background-color: derive(-fx-base, -25%);
    }
    &:at-top .stable-view-scroll-bar:vertical > .decrement-button > .decrement-arrow,
    &:at-bottom .stable-view-scroll-bar:vertical > .increment-button > .increment-arrow,
    &:at-left .stable-view-scroll-bar:horizontal > .decrement-button > .decrement-arrow,
    &:at-right .stable-view-scroll-bar:horizontal > .increment-button > .increment-arrow,
    &:at-top .stable-view-button-top > .stable-view-button-arrow,
    &:at-left .stable-view-button-left > .stable-view-button-arrow,
    &:at-bottom .stable-view-button-bottom > .stable-view-button-arrow{
        -fx-background-color: derive(-fx-base, -10%);
    }
}

.virt-grid-cell {
    -fx-background-color: $table-cell;
    -fx-border-style: solid inside;
    -fx-border-width: 0 1 1 0;
    -fx-border-color: $table-divider;
    &:hover {
        /* Must take priority over focused-row-col: */
        -fx-background-color: $table-cell-hover !important;
    }
    &:focused {
        /* Chained important: must beat hover, above */
        -fx-background-color: $focus-color, $table-cell-editing !important;
        -fx-background-insets: 0, 2;
        -fx-border-color: $focus-color;
        & .text {
            -fx-fill: black;
        }
    }
}

/* focused-cell means the cell wrapper has focus (cell selected) */
.virt-grid:focused {
    & .structured-text-field:focused-cell {
        /* Must beat hover, above */
        -fx-background-color: $focus-color !important;
        & .text {
            -fx-fill: $focus-color-text;
        }
    }
    & .virt-grid-cell:focused-row-col {
        -fx-background-color: $focus-color-row-col;
    }
}
.virt-grid {
    & .virt-grid-cell:editing-row-col {
        -fx-background-color: $focus-color-row-col;
    }
}

.virt-grid-glass {
    &:top-shadow {
        -fx-border-color: linear-gradient(to bottom, rgba(0, 0, 0.5, 0.4), transparent);
        -fx-border-style: solid;
        -fx-border-width:
            0.5em 0 0 0;
    }
    &:left-shadow {
        -fx-border-color: linear-gradient(to right, rgba(0, 0, 0.5, 0.4), transparent);
        -fx-border-style: solid;
        -fx-border-width:
            0 0 0 0.5em;
    }
    &:top-shadow:left-shadow {
        -fx-border-color: linear-gradient(to bottom, rgba(0, 0, 0.5, 0.4), transparent), linear-gradient(to right, rgba(0, 0, 0.5, 0.4), transparent);
        -fx-border-style: solid;
        -fx-border-width:
            0.5em 0 0 0, 0 0 0 0.5em;
    }
}

/* The colors should be overridden by the hover pseudo-class, which is intended */
.stable-view-row-append-button {
   -fx-max-width: 9999.0;
   -fx-min-height: 24px;
   -fx-max-height: 24px;
   -fx-background-color: gray(95%);
   -fx-background-insets: 0;
   -fx-background-radius: 0;
   -fx-padding: 0;
   &:hover {
       -fx-background-color: white;
       -fx-cursor: hand;
   }
}
