@import 'colors';

.transformation-list {
    -fx-pref-width: 16em;
    -fx-background-color: white;
    &:focused {
        -fx-background-color: white;
    }
    .list-cell {
        -fx-graphic-text-gap: 1em;
        -fx-label-padding: 0.5em 0 0.5em 0;
    }
}
.transformation-info {
    -fx-padding: 1em 0 0 1em;
    -fx-fill-width: true;
}
.transformation-title-wrapper {
    -fx-font-size: 200%;
    /*-fx-padding: 0 0 0 2em;*/
    .label {
        -fx-text-fill: grey;
    }
}
.transformation-description-wrapper {
    -fx-padding: 0 0 1em 0;
    .hyperlink {
       -fx-padding: 0 0.5em 0 0.5em;
       -fx-label-padding: 0;
       -fx-background-insets: 0;
       -fx-border-width: 0;
    }
}
.transformation-description {
    -fx-fill: grey;
}

.table-name-wrapper {
    -fx-padding: 1em 0 0 0;
}

.single-source-control {
    -fx-alignment: baseline-left;
    -fx-spacing: 0.5em;

    .text-field {
        -fx-min-width: 8em;
    }
}

.add-column-wrapper {
    -fx-padding: 4em 1em 0 0.6em;
}

/* Hide columns */
.hide-columns-content {
    -fx-spacing: 0.5em;
    .hide-columns-lists {
        -fx-padding: 1em 0 0 0;
        -fx-spacing: 1em;
        -fx-fill-height: true;
    }
}

/* Calculate */
.calculate-columns-content {
    .labelled-wrapper {
        & > .label {
            -fx-padding: 0 0.5em 0 0;
        }
    }
    .type-label {
        -fx-alignment: center-right;
        -fx-text-alignment: right;
    }
}

.column-expression-list-titles {
    -fx-padding: 0 0 0.5em 0;
}
.column-expression-list {
    .scroll-pane-fill {
        -fx-background-color: -fx-control-inner-background;
        -fx-background-insets: 0;
        -fx-padding: 0;
    }
}


.deletable-list-cell {
    -fx-padding: 0;
    -fx-background-color: transparent;
}
.deletable-list-cell-content {
    -fx-padding: 3px;
    -fx-background-insets: 0 0 0 0, 0 0 0 0;

    .deletable-list-cell:filled:even > & {
        -fx-background-color: black, $list-even;
    }
    .deletable-list-cell:filled:odd > & {
        -fx-background-color: black, $list-odd;
    }
    .deletable-list-cell:filled:selected > & {
        -fx-background-color: black, $list-selection-unfocused;
    }
    .list-view:focused .deletable-list-cell:filled:selected > & {
        -fx-background-color: black, $list-selection-focused;
    }

    .deletable-list-cell:filled:drop-target-at-bottom > & {
        -fx-background-insets: 0 0 0 0, 0 0 1 0;
    }
    .deletable-list-cell:filled:drop-target-at-top > & {
        -fx-background-insets: 0 0 0 0, 1 0 0 0;
    }

    .deletable-list-cell:filled:selected > & > .label {
        -fx-text-fill: $list-selection-text;
    }
}


