@import 'colors';
@import 'fonts';

.main-view-grid {
    -fx-background-color: $table-empty-background;
}

.table-display-table-title {
    -fx-background-color: $table-header-background-color;
    &:table-selected {
        -fx-cursor: move;
        -fx-background-color: $table-header-background-color-selected;
        .text-field {
            -fx-background-color: $table-header-background-color-selected, $table-header-background-color-selected;
            &:focused, &:hover {
                -fx-background-color: grey(65%), $table-header-background-color-selected;
            }
        }
    }
    .text-field {
        -fx-text-fill: $table-header-text-color;
        -fx-background-color: $table-header-background-color, $table-header-background-color;
        &:focused, &:hover {
            -fx-background-color: grey(65%), $table-header-background-color;
        }
        -fx-background-insets: 0, 1;
        -fx-padding: -1 1 -1 1;
    }
}

.table-display-column-title {
    -fx-background-color: $column-header-background-color;
    .text-field {
        -fx-text-fill: $column-header-text-color;
        -fx-background-color: $column-header-background-color, $column-header-background-color;
        &:focused, &:hover {
            -fx-background-color: grey(65%), $column-header-background-color;
        }
        -fx-background-insets: 0, 1;
        -fx-padding: -1 1 -1 1;
    }
}

.table-display-column-title {
    -fx-background-color: $column-header-background-color;
    -fx-text-fill: gray(40%);
}

.virt-grid-line {
    -fx-stroke-width: 1;
    -fx-stroke: $table-divider;
}

.table-data-cell {
    -fx-background-color: $table-divider, $table-cell;
    -fx-background-insets: 0, 0 1 1 0;
    &:hover {
        -fx-background-color: $table-cell-hover;
    }
    &:table-drag-source {
        -fx-effect: blur;
    }
}

.expand-arrow {
    -fx-padding: 0;
    -fx-background-color: $table-cell;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-text-fill: $expand-arrow-color;
    -fx-cursor: hand;
    &:expand-down:hovering-expand-down, &:expand-right:hovering-expand-right {
        -fx-background-color: white;
    } 
    &:expand-right-header {
        -fx-background-color: $column-header-background-color;
    }
}

.create-table-grid-button {
    -fx-padding: 0;
    -fx-font-size: 14px;
}

.table-border-overlay {
    -fx-fill: transparent;
    -fx-stroke: $table-border-color;
    -fx-stroke-width: 1;
    -fx-stroke-type: outside;
}

/* Drop shadows: */
.table-border-overlay, .table-row-label-border {
    -fx-effect: dropshadow(gaussian, grey(40%), 15, 0.7, 2, 2);
}
.table-hat {
    -fx-effect: dropshadow(gaussian, grey(70%), 6, 0.2, 1, 1);
}
.table-error-message-container {
    -fx-effect: dropshadow(gaussian, grey(50%), 8, 0.4, 2, 2);
}

.virt-grid-selection-overlay {
    -fx-fill: transparent;
    -fx-stroke-width: 3;
    -fx-stroke: $focus-color;
    -fx-stroke-type: outside;
}
.move-table-dest-overlay-snapped {
    -fx-fill: null;
    -fx-stroke: black;
    -fx-stroke-width: 3;
    -fx-stroke-type: outside;
}
.move-table-dest-overlay-free {
    -fx-fill: hsba(0, 0%, 0%, 0.1);
    -fx-stroke: null;
}

.pick-table-overlay {
    -fx-fill: $table-pick-overlay-fill;
    -fx-stroke-width: 3;
    -fx-stroke: $table-pick-overlay-stroke;
    -fx-stroke-type: outside;
}

.virt-grid-row-label {
    /* First is colour of vertical separator between rows */
    -fx-background-color: $table-row-label-background-color, $table-row-label-background-color;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-label-padding: 0 2 0 5;
    -fx-text-fill: $table-row-label-text-color;
    -fx-font-size: 10px;
    -fx-alignment: baseline-right;
    -fx-font-family: "Droid Sans Mono";
}
.table-row-label-border {
    -fx-fill: transparent;
    -fx-stroke: $table-row-label-border-color;
    -fx-stroke-width: 1;
    -fx-stroke-type: outside;
}

.table-hat {
    -fx-background-radius: 5;
    -fx-background-insets: 0, 1;
    -fx-padding: 4;
    -fx-background-color: $table-row-label-border-color, $table-row-label-background-color;
}
.table-hat-text-flow {
    -fx-font-size: 80%;
    .styled-text {
        /* Without this the font rendering on text is awful at small size on Mac: */
        -fx-font-smoothing-type: lcd;
        
        -fx-fill: $table-row-label-text-color;
        
        &.styled-text-clickable {
             -fx-underline: true;
        }
    }
}

.table-error-message-container {
    -fx-background-color: white, hsb(13, 94%, 43%);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 5;
    -fx-padding: 5;
    -fx-font-size: 80%;
    .table-error-message-text-flow .styled-text {
        -fx-fill: white;
    }
}