@import 'colors';
@import 'fonts';

.main-view-grid {
    -fx-background-color: $table-empty-background;
}

.table-display-table-title {
    -fx-background-color: $table-header-background-color;
    &:table-selected {
        -fx-cursor: move;
        -fx-background-color: $table-header-background-color-selected;
        .text-field {
            -fx-background-color: $table-header-background-color-selected, $table-header-background-color-selected;
            &:focused, &:hover {
                -fx-background-color: grey(65%), $table-header-background-color-selected;
            }
        }
    }
    .text-field {
        -fx-text-fill: $table-header-text-color;
        -fx-background-color: $table-header-background-color, $table-header-background-color;
        &:focused, &:hover {
            -fx-background-color: grey(65%), $table-header-background-color;
        }
        -fx-background-insets: 0, 1;
        -fx-padding: -1 1 -1 1;
    }
}

.table-display-column-title {
    -fx-background-color: $column-header-background-color;
    .text-field {
        -fx-text-fill: $column-header-text-color;
        -fx-background-color: $column-header-background-color, $column-header-background-color;
        &:focused, &:hover {
            -fx-background-color: grey(65%), $column-header-background-color;
        }
        -fx-background-insets: 0, 1;
        -fx-padding: -1 1 -1 1;
    }
}

.table-display-column-title {
    -fx-background-color: $column-header-background-color;
    -fx-text-fill: gray(40%);
}

.virt-grid-line {
    -fx-stroke-width: 1;
    -fx-stroke: $table-divider;
}

.table-data-cell {
    -fx-background-color: $table-divider, $table-cell;
    -fx-background-insets: 0, 0 1 1 0;
    &:hover {
        -fx-background-color: $table-cell-hover;
    }
    &:table-drag-source {
        -fx-effect: blur;
    }
}

.expand-arrow {
    -fx-padding: 0;
    -fx-background-color: $table-cell;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-text-fill: $expand-arrow-color;
    -fx-cursor: hand;
    &:expand-down:hovering-expand-down, &:expand-right:hovering-expand-right {
        -fx-background-color: white;
    } 
    &:expand-right-header {
        -fx-background-color: $column-header-background-color;
    }
}
.create-table-grid-button {
    -fx-padding: 0;
    -fx-background-color: $focus-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    &:hover {
        -fx-background-color: $table-cell-hover;
    }
    -fx-text-fill: $focus-color-text;
    -fx-cursor: hand;
}

.table-border-overlay {
    -fx-fill: transparent;
    -fx-stroke: grey(50%);
    -fx-stroke-width: 1;
    -fx-stroke-type: outside;
    -fx-effect: dropshadow(gaussian, grey(40%), 15, 0.7, 2, 2);
}

.virt-grid-selection-overlay {
    -fx-fill: transparent;
    -fx-stroke-width: 2;
    -fx-stroke: $focus-color;
    -fx-stroke-type: outside;
}