@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans-Italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Noto Mono';
  src: url('NotoMono-Regular.ttf') format('truetype');
}