.deletable-list-cell {
    -fx-background-color: white !important;
    -fx-padding: 0;
}
.deletable-list-cell:filled:even > .deletable-list-cell-content {
    -fx-background-color: derive(white, -5%);
}
.deletable-list-cell:filled:odd > .deletable-list-cell-content {
    -fx-background-color: derive(white, -10%);
}
.deletable-list-cell:filled:selected > .deletable-list-cell-content {
    -fx-background-color: blue;
}
.deletable-list-cell-content {
    -fx-padding: 3px;
}

.small-delete > .small-delete-circle {
    -fx-fill: transparent;
}
.small-delete > .small-delete-cross {
    -fx-stroke: grey;
    -fx-stroke-width: 2;
}
.small-delete:hover > .small-delete-circle,
    .deletable-list-cell:my_hover_sel .small-delete > .small-delete-circle {
    -fx-fill: red;
}
.small-delete:hover > .small-delete-cross,
    .deletable-list-cell:my_hover_sel .small-delete > .small-delete-cross {
    -fx-stroke: white;
}